body{
    background-color: yellow; /* Set background color */
    justify-items: center; /* Justify items to center */
}
main{
    display: grid; /* Set main to grid */
    grid-template-areas: /* Set grid areas */
    "Words"
    "Buttons";
}
section{
    display: flex; /* Set display to flex */
    padding: 20px; /* Set padding */
}
main section:first-child{
    grid-area: Words; /* Set grid area */
}
main section:nth-child(2){
    grid-area: Buttons; /* Set grid area */
    flex-direction: column; /* Set direction to column */
    padding-top: 0; /* Remove padding from top */
}
main section:nth-child(2) div{
    display: flex; /* Set display to flex */
}
ol{
    margin: 20px; /* Add margin around element */
    padding: 10px; /* Add padding around items */
    text-decoration: none; /* Remove text decoration */
    list-style: none; /* Remove list style */
}
li{
    font-size: 2.4rem; /* Set font size */
    margin-bottom: 10px; /* set margin at bottom of element */
    padding: 10px; /* Set padding around items */
}
section div:nth-child(1) ol, section div:nth-child(2) ol,
section div:nth-child(3) ol, section div:nth-child(4) ol,
section div:nth-child(5) ol{
    border-radius: 25px; /* Creat rounded border */
}
#noun, #verb, #adjective,#animal,#location, #random, #playback{
    border-radius: 50%; /* Create circle buttons */
}
section div:nth-child(1) ol, #noun{
    background-color: purple; /* Set background color */
}
section div:nth-child(2) ol, #verb{
    background-color: lightskyblue; /* Set background color */
}
section div:nth-child(3) ol, #adjective{
    background-color: lime; /* Set background color */
}
section div:nth-child(4) ol, #animal{
    background-color: orange; /* Set background color */
}
section div:nth-child(5) ol, #location{
    background-color: deeppink; /* Set background color */
}
#random{
    background-color: red; /* Set background color */
}
#playback{
    background-color: green; /* Set background color */
}
button{
    margin: 50px; /* Set margin around element */
    padding: 30px; /* Set padding around items */
}
h1{
    font-size: 4.8rem; /* Set font size */
    color: deepskyblue; /* Set text color  */
}
p{
    margin: 20px; /* Set margin around element  */
    font-size: 1.2rem;/* Set font size */
    display: flex; /* set to flex  */
    height: fit-content; /* set height to fit content  */
    width: 250px; /* set width of element  */
}
main section:nth-child(2) div p:nth-child(4){
    position: relative;/* set position to relative */
    left: -22.5%; /* Move element to the left  */
    bottom: -45%; /* move element down  */
}